.red{
    /* color: red; */
    background: linear-gradient(0deg, rgb(255, 54, 54), rgb(253, 38, 102)) no-repeat;
}
.yellow{
    /* color: yellow; */
    background: linear-gradient(0deg, rgb(255, 232, 54), rgb(253, 163, 38)) no-repeat;
        
}
.orange{
    /* color: orange; */
    background: linear-gradient(0deg, rgb(243, 176, 8), rgb(253, 110, 38)) no-repeat;
}
.green{
    /* color: green; */
    background: linear-gradient(0deg, rgb(50, 145, 16), rgb(17, 221, 136)) no-repeat;
}
.blue{
    /* color: blue; */
    background: linear-gradient(0deg, rgb(8, 208, 243), rgb(67, 38, 253)) no-repeat;
    
}
.brown{
    /* color: brown; */
    background: linear-gradient(0deg, rgb(68, 27, 12), rgb(162, 94, 59)) no-repeat;
        
}
.dan{
    /* color: black; */
    background: linear-gradient(0deg, rgb(108, 108, 108), rgb(33, 33, 33)) no-repeat; 
}